<template>
  <v-container class="grey lighten-4 text-center mt-10">
    <h1 class="heading-1 red--text ">RES VIETNAM ENGLISH LANGUAGUE CENTER</h1>
    <v-list class="grey lighten-4 ">
      <v-list-item
        v-for="info in informations"
        :key="info.title"
        class="headline"
      >
        <v-list-item-icon>
          <span class="material-icons ">
            {{ info.icon }}
          </span>
        </v-list-item-icon>
        <v-list-item-title>{{ info.title }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: "contact",
  data() {
    return {
      informations: [
        { title: "Phone: 0347.096.000", icon: "call" },
        {
          title: "Address: 131 CMT8 - District 03 - Ho Chi Minh City - VietNam",
          icon: "add_location",
        },
        { title: "Facebook: ResVietNam ", icon: "facebook" },
        { title: "Email: leminhtambk12@gmail.com ", icon: "email" },
      ],
    };
  },
};
</script>

<style scoped></style>
