<template>
  <v-container fluid class="ma-0 pa-0">
    <AddRoom />
    <roomInfomation />
    <v-container fluid class="grey lighten-3 mr-20 mb-20 pa-10 room-container">
      <Room
        class="Item"
        :class="{ 'full-room': !Room.available }"
        v-for="(Room, index) in Rooms"
        :key="Room.id"
        :Room="Room"
        :index="index"
      />
    </v-container>
  </v-container>
</template>

<script>
import AddRoom from "../components/AddRoom.vue";
import roomInfomation from "../components/roomInfomation.vue";
import Room from "../components/Room.vue";
import { mapState, mapActions } from "vuex";
export default {
  name: "RoomMap",
  components: {
    AddRoom,
    roomInfomation,
    Room,
  },
  data() {
    return {};
  },
  methods: {
    ...mapActions(["loadDataRooms"]),
  },
  created() {
    this.loadDataRooms();
  },

  computed: {
    ...mapState(["Rooms"]),
  },
};
</script>

<style scoped>
.room-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 15px;
}

.Item {
  display: inline-block;
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  background: #458b00;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
  padding: 15px;
  cursor: pointer;
}

.full-room {
  background: purple;
}

input {
  border: 1px solid orange;
  height: 12px;
  width: 12px;
}
</style>
