<template>
  <v-form>
    <v-row wrap>
      <v-col cols="8" sm="9" md="10" lg="11">
        <v-text-field
          class="pl-5 "
          v-model="newRoom"
          label="AddRoom..."
          required
        >
        </v-text-field>
      </v-col>
      <v-col cols="4" sm="3" md="2" lg="1" class="text-center">
        <v-btn class="indigo white--text" @click.prevent="addRoom">
          Submit
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
/*import { mapActions } from "vuex";*/
import { addMixins } from "../mixins/addMixin.js";
export default {
  name: "AddRoom",
  mixins: [addMixins],
};
</script>

<style scoped></style>
