<template>
  <v-container class="ms-10">
    <v-row>
      <h1 class="heading-2">
        <span class="material-icons">
          format_list_numbered
        </span>
        <span class=" orange--text">
          There are {{ roomLength }} rooms in our Office:
          {{ availableRoom }} rooms are available & {{ fullRoom }} rooms are
          full.
        </span>
      </h1>
    </v-row>
    <v-row class="my-2">
      <span
        rounded
        class="green darken-3 mr-2"
        style="height: 25px ; width:25px;"
      ></span>
      <span class="ml-2 font-weight-bold title">Available</span>
    </v-row>
    <v-row class="mt-2">
      <span
        rounded
        class="purple mr-2"
        style="height: 25px ; width:25px;"
      ></span>
      <span class="ml-2 font-weight-bold title">Full</span>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "roomInformation",
  computed: {
    ...mapGetters(["roomLength", "availableRoom", "fullRoom"]),
  },
};
</script>

<style scoped></style>
