<template>
  <v-card elevation="5">
    <input type="checkbox" @change="changeStatusRoom(index)" />
    <span class="ml-2">{{ Room.title }}</span>
    <span
      class="material-icons float-right"
      @click="deleteSelectedRoom(Room.id)"
    >
      auto_delete
    </span>
  </v-card>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "Room",
  props: ["Room", "index"],
  methods: {
    ...mapActions(["toggleAvailableRoom", "removeSelectedRoom"]),
    changeStatusRoom(index) {
      this.toggleAvailableRoom(index);
    },
    deleteSelectedRoom(RoomId) {
      this.removeSelectedRoom(RoomId);
    },
  },
};
</script>

<style scoped></style>
