<template>
  <v-app>
    <Header />
    <v-main class="mb-5">
      <router-view />
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Header from "./layouts/Header.vue";
import Footer from "./layouts/Footer.vue";
export default {
  name: "App",
  components: {
    Header,
    Footer,
  },
};
</script>
