<template>
  <v-footer padless fixed class="indigo ligten-5 white--text text-center mt-10">
    <v-row wrap>
      <v-col cols="12" sm="6" md="6" lg="8">
        <span class="material-icons ma-2">
          business
        </span>
        <span class="title red--text ma-2"
          >RES MEMBER JOINT-STOCK EDUCATION COMPANY</span
        >
        <br />
        <span class="material-icons ma-2">
          location_on
        </span>
        <span class="title red--text ma-2"
          >Address: 131 CMT8, District 03, Ho Chi Minh city, VietNam
        </span>
      </v-col>
      <v-col
        class="text-center"
        style="margin:auto"
        cols="12"
        sm="6"
        md="6"
        lg="4"
      >
        <v-btn class="ma-2" router to="/"> ABOUT US</v-btn>
        <v-btn class="ma-2" router to="/contact"> CONTACT </v-btn>
        <v-btn class="ma-2" router to="/contact"> PRIVACY POLICY</v-btn>
      </v-col>
    </v-row>
  </v-footer>
</template>

<script>
export default {
  name: "Footer",
};
</script>

<style scoped></style>
