<template>
  <v-app-bar
    id="header"
    app
    class="grey lighten-4"
    :height="
      $vuetify.breakpoint.xs
        ? '150px'
        : $vuetify.breakpoint.sm
        ? '150px'
        : '70px'
    "
  >
    <v-row wrap>
      <v-col cols="12" sm="6" md="6" lg="8">
        <h1 class="heading-1 font-weight-bold indigo--text text-center">
          ROOM MANAGEMENT
        </h1>
      </v-col>
      <v-col class="text-center" cols="12" sm="6" md="6" lg="4">
        <v-btn
          width="140"
          class="indigo lighten-1 white--text px-2 ma-1"
          router
          to="/"
        >
          <span class="material-icons">
            room
          </span>
          <span class="ml-3">Room-Map</span>
        </v-btn>
        <v-btn
          width="140"
          class="indigo lighten-1 white--text px-2 ma-1"
          router
          to="/contact"
        >
          <span class="material-icons">
            contact_page
          </span>
          <span class="ml-3">Contact</span>
        </v-btn>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {};
  },
  computed: {},
};
</script>

<style scoped></style>
